{{- /* This must be one line. */ -}}
<table border="0" cellborder="0" cellspacing="0" cellpadding="0"><tr><td border="0"><table border="0" cellborder="0" cellspacing="0" cellpadding="0"><tr><td width="20"></td>{{ range $e, $_ := .In }}<td port={{ $e.FormatName }} border="1" cellpadding="1">{{ $e.FormatLabel }}</td><td width="10"></td>{{ end }}<td width="20"></td></tr></table></td></tr><tr><td border="1" style="rounded" cellpadding="4">{{ .FormatLabel }}{{ with .Extra }}<br /><font point-size="10">{{ .Extra }}</font>{{ end }}</td></tr><tr><td border="0"><table border="0" cellborder="0" cellspacing="0" cellpadding="0"><tr><td width="20"></td>{{ range $e, $_ := .Out }}<td port={{ $e.FormatName }} border="1" cellpadding="1">{{ $e.FormatLabel }}</td><td width="10"></td>{{ end }}<td width="20"></td></tr></table></td></tr></table>