**/main.exe
**/__debug_bin
**/__debug_bin.exe
web/node_modules
web/dist
web/.cache
web/src/sdk
plugins
.antlr
cmd/tmp
/examples/output
/examples/output.wasm
/neva
/neva-darwin-amd64
/neva-darwin-arm64
/neva-linux-amd64
/neva-linux-arm64
/neva-linux-loong64
/neva-windows-amd64.exe
/neva-windows-arm64.exe
/neva-lsp
/neva-lsp-darwin-amd64
/neva-lsp-darwin-arm64
/neva-lsp-linux-amd64
/neva-lsp-linux-arm64
/neva-lsp-linux-loong64
/neva-lsp-windows-amd64.exe
/neva-lsp-windows-arm64.exe
dist
trace.log
output
node_modules
__debug*
web/webview/dist
thirdparty
vendor
.DS_Store
tmp
tmp.md
todo.md
