**/main.exe
**/__debug_bin
**/__debug_bin.exe
web/node_modules
web/dist
web/.cache
web/src/sdk
plugins
.antlr
cmd/tmp

# generated executable
/neva
/examples/output
/examples/output.wasm
/neva-darwin-amd64
/neva-darwin-arm64
/neva-linux-amd64
/neva-linux-arm64
/neva-windows-amd64.exe
/neva-windows-arm64.exe

node_modules
__debug*
web/webview/dist
thirdparty

/todo.md