:root {
  --component: #be6856;
  --const: #d19a66;
  --interface: #00a8c6;
  --type: #61afef;
  --dark: #22272e;
  --dark-second: #2d333b;
  --grey: #adbac7;
  --light: #c5c5c5
}

body {
  background-color: var(--dark);
  padding: 20px;
}

h2 {
  margin-top: 0;
  margin-bottom: 10px;
}

h3 {
  margin: 0;
}

.react-flow__node {
  height: 40px;
  width: 150px;
  justify-content: center;
  align-items: center;
  display: flex;
  border-width: 0px;
  font-weight: 400;
  background-color: transparent;
}

.react-flow__node-default {
  padding: 0;
  border-radius: 5px;
  border-width: 1px;
  border-color: var(--dark);
  background-color: var(--grey);
}
.react-flow__node-default:hover {
  border-color: white;
}
.react-flow__node-default.dimmed {
  opacity: 0.5;
}

.react-flow__node-default.interface {
  background-color: var(--grey);
}

.react-flow__node-default.component {
  background-color: var(--light);
}
.editor .react-flow__node-default.component:hover {
  cursor: pointer;
}

.react-flow__node-default.type {
  background-color: var(--type);
} 

.react-flow__panel.react-flow__controls.bottom {
  bottom: 15px;
}

.react-flow__controls-button {
  background-color: var(--grey);
  border-color: var(--dark-second)
}

.react-flow__node-default.component .ports {
  background-color: var(--component);
}

.react-flow__node-default.parent {
  align-items: flex-start;
  padding-top: 10px;
  border-color: var(--grey);
  color: var(--grey);
  background-color: transparent;
  box-shadow: none;
}

.react-flow__node-default.const {
  background-color: var(--const);
}



.react-flow__handle {
  flex: 1;
  position: static;
  background-color: transparent;
  transform: none;
  width: auto;
  height: auto;
  border: none;
  border-radius: 0;
  padding: 5px;
  font-weight: 200;
}

.react-flow__edge path {
  stroke: var(--grey);
}

.react-flow__edge-interaction path {
  stroke-opacity: 0.5;
}

.nodeBody {
  padding: 15px;
  color: var(--dark);
  font-weight: 400;
}

.nodeName {
  position: relative;
}

.nodeType {
  padding-top: 5px;
  font-weight: 200;
}

.ports {
  display: flex;
  justify-content: space-around;
  font-weight: 400;
  color: var(--dark-second);
  background-color: var(--interface);
}
.ports.in {
  border-radius: 3px 3px 0px 0px;
}
.ports.out {
  border-radius: 0px 0px 3px 3px;
}
.ports > :not(:last-child) {
  border-right: 1px solid var(--grey);
}
.ports.hidden {
  color: transparent;
}

.portType {
  font-weight: 200;
}

.react-flow__minimap {
  background-color: var(--dark);
}


