/* Basic */

:root {
  --heading: #be6856;
  --foreground: #00a8c6;
  --background: #22272e;
  --background-second: #2d333b;
  --link: #539bf5;
  --dim: #769390;
  --text: #adbac7;
  --success: #347d39;
}

body {
  background-color: var(--background);
  padding: 20px;
}

h2 {
  margin-top: 0;
  margin-bottom: 10px;
}

h3 {
  margin: 0;
}

/* https://reactflow.dev/docs/guides/theming/ */

.react-flow__node {
  height: 40px;
  width: 150px;
  justify-content: center;
  align-items: center;
  display: flex;
  border-width: 0px;
  font-weight: 400;
  background-color: transparent;
}

.react-flow__node-default {
  padding: 0;
  border-radius: 5px;
  border-width: 1px;
  border-color: #00a8c6;
  background-color: var(--text);
  box-shadow: 5px 5px 0 0 rgba(0, 0, 0, 0.5);
  /* transition: all 0.15s ease-out; */
}

.react-flow__node-default.parent {
  background-color: transparent;
}

.react-flow__node-default.highlighted {
  opacity: 0.5;
}

.react-flow__node-default.dimmed {
  opacity: 0.1;
}

.react-flow__node-default:hover {
  opacity: 1;
  border-color: white;
}

.react-flow__node-default:active {
  box-shadow: 0px 0 10px #fff;
  transform: scale(1.1);
  border-color: white;
  background-image: linear-gradient(
    45deg,
    hsl(213deg 89% 64%) 0%,
    hsl(228deg 85% 63%) 9%,
    hsl(242deg 81% 63%) 18%,
    hsl(256deg 77% 62%) 27%,
    hsl(271deg 73% 61%) 36%,
    hsl(285deg 69% 60%) 45%,
    hsl(299deg 65% 59%) 55%,
    hsl(313deg 61% 58%) 64%,
    hsl(328deg 56% 57%) 73%,
    hsl(342deg 53% 56%) 82%,
    hsl(356deg 48% 55%) 91%,
    hsl(10deg 44% 54%) 100%
  );
}

.react-flow__node-default:active .ports,
.react-flow__node-default:active .nodeBody {
  background: transparent;
  color: white;
}
.react-flow__node-default:active .ports > :not(:last-child) {
  border-color: transparent;
}

.react-flow__handle {
  flex: 1;
  position: static;
  background-color: transparent;
  transform: none;
  width: auto;
  height: auto;
  border: none;
  border-radius: 0;
  padding: 5px;
  font-weight: 200;
}

.react-flow__edge path {
  transition: stroke 0.15s ease-out;
  stroke: #adbac7;
}

.react-flow__edge-interaction path {
  stroke-opacity: 0.5;
}

/* Custom */

.nodeBody {
  padding: 15px;
  color: var(--background);
  font-weight: 400;
  transition: color 0.15s ease-out;
}

.nodeName {
  position: relative;
}

.nodeType {
  padding-top: 5px;
  font-weight: 200;
  transition: color 0.15s ease-out;
}

.ports {
  display: flex;
  justify-content: space-around;
  font-weight: 400;
  color: var(--background-second);
  background-color: #00a8c6;
  transition: all 0.15s ease-out;
}
.ports.in {
  border-radius: 3px 3px 0px 0px;
}
.ports.out {
  border-radius: 0px 0px 3px 3px;
}
.ports > :not(:last-child) {
  border-right: 1px solid var(--text);
}
.ports.hidden {
  color: transparent;
}

.portType {
  font-weight: 200;
}
