/* Basic */

:root {
  --heading: #BE6856;
  --foreground: #00A8C6;
  --background: #22272E;
  --background-second: #2D333B;
  --link: #539BF5;
  --dim: #769390;
  --text: #ADBAC7;
  --success: #347D39;
  --pink: #ff0072;
}

body {
  background-color: var(--background);
  padding: 20px;
}

h2 {
  margin-top: 0;
  margin-bottom: 10px;
}

h3 {
  margin: 0;
}

/* https://reactflow.dev/docs/guides/theming/ */

.react-flow__node {
  height: 40px;
  width: 150px;
  justify-content: center;
  align-items: center;
  display: flex;
  border-width: 0px;
  font-weight: 400;
  background-color: transparent;
}

.react-flow__node-default {
  padding: 0;
  border-radius: 5px;
  border-width: 1px;
  border-color: #00A8C6;
  background-color: var(--text);
  box-shadow: 5px 5px 0 0 rgba(0, 0, 0, 0.5);
  transition: all .15s ease-out;
}

.react-flow__node-default:hover {
  box-shadow: 10px 0 15px rgba(42, 138, 246, 0.3), -10px 0 15px rgba(233, 42, 103, 0.3);
  border-color:var(--text);
}

.react-flow__node-default:active {
  transform: scale(1.1);
  border-color: white;
}

/* .react-flow__node.selected .react-flow__node-default {
  animation: glow .5s ease-out infinite;
} */

.react-flow__handle {
  flex: 1;
  position: static;
  background-color: transparent;
  transform: none;
  width: auto;
  height: auto;
  border: none;
  border-radius: 0;
  padding: 5px;
  font-weight: 300;
}

/* Custom */

.portType {
  font-weight: 200;
}

.inports, .outports {
  display: flex;
  justify-content: space-around;
  font-weight: 400;
  color: var(--background-second);
  background-color: #00A8C6;
}

.inports > :not(:last-child),
.outports > :not(:last-child) {
  border-right: 1px solid var(--text);
}

.inports {
  border-radius:  3px 3px 0px 0px;
}

.outports {
  border-radius: 0px 0px 3px 3px;
}

.nodeName {
  padding: 15px;
  color: var(--background);
  font-weight: 400;
}

