@import "normalize.css";
@import "@blueprintjs/core/lib/css/blueprint.css";
@import "@blueprintjs/icons/lib/css/blueprint-icons.css";

* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  font-family: "Glory", sans-serif;
  background-color: black;
}

#root {
  width: 100%;
  height: 100%;
  /* display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 3fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". ."
    ". ."; */
}

.scope {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px 10px;
  padding: 10px;
  background-color: white;
}

.scope__card:hover {
  cursor: pointer;
}

.scope__io {
  width: 100%;
}

.palette {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". . ."
    ". . ."
    ". . .";
}

.palette-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background-color: black;
  color: white;
  border: 1px solid white;
}

.palette-card:hover {
  cursor: pointer;
  border-color: red;
}

.node {
  transition: none;
}

.menu {
  font-size: 16px;
}
